extends layout/index

block content 
    div.container.p-5
        h1.text-center.mb-5.text-uppercase.text-muted NodeJS Login and Registration System
        div.row
            div.col-sm-5.bg-light.rounded.py-3
                h2.text-center Login
                form(method="post" action="")
                    div.form-group.mt-2
                        label(for="_email") Email
                        input(type="text" name="user_email" id="_email" placeholder="Email" required).form-control
                    div.form-group.mt-2
                        label(for="_pass") Password
                        input(type="password" name="user_pass" id="_pass" placeholder="Password" required).form-control
                    if locals.login_errors
                        each error_msg in login_errors
                            div(role="alert").alert.alert-danger #{error_msg}
                    
                    
                    button(type="submit").btn.btn-primary.mt-2 Login

            div.col-sm-6.bg-light.rounded.border.py-3.offset-sm-1
                h2.text-center Register
                form(action="/register" method="post" novalidate)
                    div.form-group.mt-2
                        label(for="_name") Name
                        input(type="text" name="user_name" id="_rname" value=locals.old_data ? old_data.user_name :''  placeholder="Name" required).form-control
                    div.form-group.mt-2
                        label(for="_email") Email
                        input(type="email" name="user_email" id="_remail" value=locals.old_data ? old_data.user_email :'' placeholder="Email" required).form-control
                    div.form-group.mt-2
                        label(for="_pass") Password
                        input(type="password" name="user_pass" id="_rpass"  placeholder="Password" required).form-control
                    
                    if locals.register_error
                        each error_msg in register_error
                            div(role="alert").alert.alert-danger #{error_msg}
                    
                    
                    button(type="submit").btn.btn-success Sign Up

 



